/*
File: Main.css
CS361 Project 4
Names: Yi Feng, Iris Lian, Christopher Marcello, and Evan Savillo
Date: 10/02/18
*/

/* style of Hello button */
#helloButton {
	/* set button color to green */
    -fx-background-color:#8be77c;
    /* set button border to black */
    -fx-border-color: black; 
    /* set button border to bold */
    -fx-border-radius: 5; 
}

/* style of Goodbye button */
#goodbyeButton {
	/* set button color to red */
    -fx-background-color:#f9afc2; 
    /* set button border to black */
    -fx-border-color: black;
    /* set button border to bold */
    -fx-border-radius: 5; 
}